@page
@model crudTortillas.Pages.Productos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-page="Create">Nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             <p>id Proovedor</p>
            </th>
            <th>
             <p>Nombre Producto</p>
            </th>
            <th>
             <p>Descripción</p>
            </th>
            <th>
             <p>Precio</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.productos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProovedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
